@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.sidebar {
  width: 9%;
  background-color: #191718;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.sidebar li {
  height: 44px;
}
.sidebar li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  line-height: 44px;
  height: 44px;
  padding-left: 1rem;
  display: block;
}
.sidebar li:hover {
  background-color: #5c5c5c;
  cursor: pointer;
}
@media screen and (max-width: 960px) {
  .sidebar {
    display: none;
  }
}

.content .logo {
  width: 310px;
  margin: 0 auto;
  margin-top: 20px;
}
.content .logo img {
  width: 100%;
}
.content .content-title {
  margin-top: 30px;
  background-color: #efefef;
  padding: 38px 200px;
  text-align: center;
}
.content .content-box {
  margin-top: 68px;
}
.content .content-box .row {
  display: flex;
  justify-content: space-between;
}
.content .content-box .row .item {
  max-width: 470px;
}
.content .content-box .row .item .title {
  font-weight: 700;
  size: 24px;
  line-height: 28.13px;
}
.content .content-box .row .item .line1 {
  display: flex;
}
.content .content-box .row .item .line1 .thumbnail {
  min-width: 128px;
  margin-right: 16px;
}
.content .content-box .row .item .line1 .thumbnail img {
  width: 100%;
}
.content .content-box .row .item .line2 {
  margin-top: 6px;
}
@media screen and (max-width: 960px) {
  .content {
    margin-left: 9%;
  }
  .content .logo {
    width: 200px;
  }
  .content .content-title {
    margin-top: 30px;
    padding: 25px 100px;
  }
  .content .content-box {
    margin-top: 40px;
  }
  .content .content-box .row .item {
    max-width: 250px;
  }
  .content .content-box .row .item .title {
    size: 16px;
  }
  .content .content-box .row .item .line1 .thumbnail {
    min-width: 60px;
    margin-right: 5px;
  }
  .content .content-box .row .item .line1 .thumbnail img {
    width: 100%;
  }
  .content .content-box .row .item .line2 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .content .logo {
    width: 100px;
  }
  .content .content-title {
    padding: 10px 20px;
    margin-top: 10px;
  }
  .content .content-box {
    margin-top: 20px;
  }
  .content .content-box .row {
    display: block;
  }
  .content .content-box .row .item {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 300px;
  }
  .content .content-box .row .item .title {
    size: 16px;
  }
  .content .content-box .row .item .line1 .thumbnail {
    min-width: 60px;
    margin-right: 5px;
  }
  .content .content-box .row .item .line1 .thumbnail img {
    width: 100%;
  }
  .content .content-box .row .item .line2 {
    display: none;
  }
}

.Footer {
  padding: 30px 0;
  margin-top: 183px;
  border-top: 1px solid #dedede;
}
.Footer .coppyRight {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3e3e3e;
  margin-left: 129px;
}