@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.sidebar {
  width: 9%;
  background-color: #191718;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  li {
    height: 44px;
    a {
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      line-height: 44px;
      height: 44px;
      padding-left: 1rem;
      display: block;
    }
    &:hover {
      background-color: #5c5c5c;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 960px) {
    display: none;
  }
}

.content {
  .logo {
    width: 310px;
    margin: 0 auto;
    margin-top: 20px;
    img {
      width: 100%;
    }
  }
  .content-title {
    margin-top: 30px;
    background-color: #efefef;
    padding: 38px 200px;
    text-align: center;
  }
  .content-box {
    margin-top: 68px;
    .row {
      display: flex;
      justify-content: space-between;
      .item {
        max-width: 470px;
        .title {
          font-weight: 700;
          size: 24px;
          line-height: 28.13px;
        }
        .line1 {
          display: flex;
          .thumbnail {
            min-width: 128px;
            margin-right: 16px;
            img {
              width: 100%;
            }
          }
        }
        .line2 {
          margin-top: 6px;
        }
      }
    }
  }
  @media screen and (max-width: 960px) {
    margin-left: 9%;
    .logo {
      width: 200px;
    }
    .content-title {
      margin-top: 30px;
      padding: 25px 100px;
    }
    .content-box {
      margin-top: 40px;
      .row {
        .item {
          max-width: 250px;
          .title {
            size: 16px;
          }
          .line1 {
            .thumbnail {
              min-width: 60px;
              margin-right: 5px;
              img {
                width: 100%;
              }
            }
          }
          .line2 {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .logo {
      width: 100px;
    }
    .content-title {
      padding: 10px 20px;
      margin-top: 10px;
    }
    .content-box {
      margin-top: 20px;
      .row {
        display: block;
        .item {
          margin-top: 20px;
          max-width: 300px;
          .title {
            size: 16px;
          }
          .line1 {
            .thumbnail {
              min-width: 60px;
              margin-right: 5px;
              img {
                width: 100%;
              }
            }
          }
          .line2 {
            display: none;
          }
        }
      }
    }
  }
}

.Footer {
  padding: 30px 0;
  margin-top: 183px;
  border-top: 1px solid #dedede;
  .coppyRight {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #3e3e3e;
    margin-left: 129px;
  }
}
